.gfdw-cont {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.gfdw-loc-title {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    color: var(--gray-dark);
}

.gfdw-title {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    text-transform: uppercase;
    color: var(--gray-title);
    padding-left: 15px;
}

.gfdw-title-cont {
    text-align: left;
    margin-top: -20px;
}