.temp,
.temp--high,
.temp--low {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    padding-left: 4px; /* off set the degree symbol */
}

.temp--high {
    color: var(--gray-light);
}

.temp--low {
    color: var(--blue-lighter);
}

.weather-date {
    text-align: center;
}

.weather-date p {
    margin-bottom: 2px;
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    color: var(--gray-darker);
}

.weather-date span {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    color: var(--gray);
}

.weather-desc--long {
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    color: var(--gray);
}

.weather-desc--short{
    font-size: var(--font-size-md);
    color: var(--black);
}

.weather-info,
.weather-info--today {
    border: none;
    border-radius: 5px;
    text-align: center;
    background: var(--white-bg);
    padding: 8px;
    min-width: 128px; /* at least bigger than the icon */
}

.weather-info p,
.weather-info--today p {
    margin: 4px 0;
    text-align: center;
}

.weather-info--today,
.weather-info--today .wi-showDetails-btn {
    background: var(--yellow-bg);
}

.weather-info--today .wi-showDetails-btn,
.weather-info--today .temp--high {
    color: var(--yellow-dark);
}

.weather-info--today .temp--low {
    color: var(--gray-light);
}

/* Below the medium width, data is hard to read without a background on the info*/
@media only screen and (max-width: 48em) {
    .weather-info,
    .weather-info .wi-showDetails-btn {
        background: var(--gray-lightest);
    }


    /*also restrict the max-width; center it; provide gaps*/
    .weather-info,
    .weather-info--today{
        max-width: 256px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
    }

}

.wi-details {
    margin: 2px;
}

.wi-details span{
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: var(--gray);
}

.wi-mph{
    font-size: calc(var(--font-size-sm) - 3px) !important;
}

.wi-showDetails-btn {
    border: none;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: var(--blue-light);
    cursor: pointer;
    background: var(--white-bg);
}

.wi-today-text {
    color: var(--yellow-dark) !important;
}
