/**
 Colors used throughout the app
*/

:root {
    /** GRAYSCALE **/
    --white: #FFF;
    --white-bg: #FDFDFD;
    --gray-lightest: #F2F2F2;
    --gray-lighter: #DFDFDF;
    --gray-title: #c2c2c2;
    --gray-light: #a6a6a6;
    --gray: #888;
    --gray-dark: #666666;
    --gray-darker: #474647;
    --black: #333;
    --black-true: #000;

    /** COLOR **/
    --blue-lighter: #B3C8FF;
    --blue-light: #668FFF;
    --blue: #3369FF;
    --blue-dark: #3064f2;
    --blue-darker: #244AB3;

    --yellow-bg: #fff5e6;
    --yellow: #EFC654;
    --yellow-dark: #ba9a43;

    --red: #FF5964;
}
