/**
 CSS that does not belong to any specific component, affects global tags, or is shared between more than one
 component.
 */

::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--fontstack);
    font-size: var(--font-size-md);
    color: var(--black);
    background: var(--white-bg);
    overflow-x: hidden;
}
