/**
 CSS that does not belong to any specific component, affects global tags, or is shared between more than one
 component.
 */

:root {
    --globalmaxwidth: 900px;
}

::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--fontstack);
    font-size: var(--font-size-md);
    color: var(--black);
    background: var(--white-bg);
    overflow-x: hidden;
}

/** BREAKPOINT **/
/** These are the breakpoints used in flexbox-grid, they are here for reference
    since var cannot be used in media queries

    xs 30em
    sm 48em
    md 64em
    lg 75em

 */
