.locate-me-btn {
    border: none;
    text-decoration: underline;
    margin-top: 2px;
    padding-left: 0;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: var(--gray-light);
    cursor: pointer;
    background: var(--white-bg);
    float: left;
}

.locate-me-btn:hover {
    color: var(--blue-light);
}

.location-input {
    border: none;
    border-bottom: 1px solid  var(--gray-lighter);
    width: 100%;
    min-height: calc(100% - 13px); /* keeps border inline with button */
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    color: var(--blue-light);
    background: var(--white-bg);
}

.location-input:focus {
    border-bottom: 1px solid var(--gray-light);
    color: var(--blue);
}

.location-input::-moz-placeholder,
.location-input::-webkit-input-placeholder,
.location-input:-ms-input-placeholder,
.location-input::placeholder {
    color: var(--gray-lighter);
}

.location-submit-btn {
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 180px;
    padding: 6px 12px;
    margin: 0 8px;
    background: var(--blue);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--white);
    cursor: pointer;
}

@media only screen and (max-width: 48em) {
    .location-submit-btn {
        margin-top: 8px;
    }

    .location-input-cont {
        margin-bottom: 8px;
    }
}

.location-submit-btn:hover {
    background: var(--blue-dark);
}
